@media screen and (max-width: 10000px) and (min-width: 1400px) {
  .container {
    max-width: 1400px;
    }
}
@media(max-width: 1400px){
  form#contact-form h3 {
    font-size: 40px;
    line-height: 40px;
    padding-bottom: 24px;
  }
  form.get-a-quote.subscribe-form h3 {
    font-size: 40px;
    padding-bottom: 30px;
    padding-top: 0px;
  }
  .team {
     align-items: center;
  }
  .hero-text p {
    width: 94%;
  }
  .hero-section.business-insurance .hero-text {
     width: 78%;
  }
  .white_content {
    width: 28% !important;
  }
  .navbar-links li > a {
     font-size: 14px;
   }
   .lightbox-data {
    padding: 40px;
  }
   .top-bar a {
    font-size: 14px;
  }
  .lightbox-data ul li {
    margin-bottom: 22px;
  }
  .lightbox-data ul li p, .lightbox-data ul li a {
    font-size: 16px;
  }
  .lightbox-img .goole-star.two {
    left: 45%;
    padding: 9px 15px;
  }
  .lightbox-data ul li p br {
    display: none;
  }
  .hero-section {
    padding-top: 180px;
    padding-bottom: 80px;
  }
  .get-a-quote {
     clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 80%, 80% 100%, 0 100%, 0% 80%, 0 0);
  }
  .project-type .goole-star {
     top: 40px;
    right: 43px;
  }
  .pricing h6 {
     top: 42px;
   }
  .hero-text h1 {
     line-height: 74px;
     font-size: 60px;
  } 
  .header-right .mailnumber span {
     font-size: 14px;
  }
  .login svg {
    width: 26px;
  } 
  .header-right .mailnumber svg {
   width: 40px;
  }
  .header-right .mailnumber {
     gap: 10px;
  }
  a.union {
     width: 50px;
    height: 30px;
     border-radius: 50px;
  }
  .header-right .mailnumber a {
    font-size: 14px;
   }
   .get-a-quote {
     padding: 40px;
   }
   .btn {
     padding: 19px 30px;
     font-size: 14px;
  }
  .heading h2 {
    font-size: 46px;
  }
  .count-text {
     padding: 29px;
     gap: 20px;
  }
  .services svg {
    width: 54px;
    height: auto;
  }
  .count-text i {
     width: 64px;
    height: 64px;
   }
   .swiper-custom-arrow {
      width: 96%;
      bottom: 41%;
      left: 2%;
    }
    .testimonial-two p {
      font-size: 16px;
    }
    .testimonial-two h3 {
      font-weight: 700;
      padding-top: 20px;
      font-size: 20px;
    }
    .team h3 {
     padding-bottom: 30px;
    margin-bottom: 15px;
  }
    .team span {
     font-size: 14px;
   }
    .team h3 {
      font-size: 24px;
    }
    .team {
       gap: 0px;
   }
    .team > div {
      padding: 14px;
    }
    .smooth-img {
      width: 98%;
    }
    .customized h3 {
      font-size: 26px;
    }
    h3 {
      font-size: 22px;
    }
    .services:after {
      border-left: 1px solid #c6c6c6;
      width: 73px;
      height: 96px;
      right: -28px;
      bottom: -40px;
    }
    .services {
      padding: 32px;
    }
   .trusted h3 { 
    padding-bottom: 26px;
    line-height: 32px;
    font-size: 22px;
  }
   .our-mission-swiper {
     padding-bottom: 70px;
   }
   .pricing-top h4 {
    font-size: 55px;
   }
   .pricing-top h4 sup {
        top: -19px;
    }
    .partnership {
        gap: 25px;
     }
     ul.sponsors li img {
       padding: 30px;
     }   
     .full-container {
        height: 610px;
     }
     .sponsors {
        margin-left: 0px;
    }
    .pricing-top h4 sub {
        font-size: 16px;
     }
     .pricing-top span {
     padding: 4px 16px;
     font-size: 13px;
    }
    .pricing-bottom {
    padding: 26px 25px;
    }
  h2 {
    font-size: 50px;
  }
  .testimonial-two-img > a img {
    width: 54px;
  }
  .pricing-top {
     padding: 26px;
  }
  .blog-body {
    padding-top: 22px;
   }
   .heading-add .heading.two {
    width: 90%;
  }
  form.footer-form input {
     height: 54px;
  }
  .business-insurance-form {
    padding: 0;
  }
  .business-insurance-form > div {
    padding: 40px;
  }
  .plan-option {
     font-size: 11px;
    }
    .expert-guidance img.full-img {
      bottom: 0%;
  }
  .expert-guidance-text h1 {
     font-size: 60px;
  }
  .expert-guidance {
     padding-top: 140px;
    padding-bottom: 60px;
   }
   .our-mission-list {
    width: 100%;
   }
   .subscribe button.btn {
    width: 192px;
  }
  .subscribe-form .goole-star {
     top: 40px;
    right: 40px;
   }
}
@media(max-width: 1200px){
  .gap {
    padding: 100px 0; 
  }
  .no-top{
      padding-top: 0;
  }
  .no-bottom{
      padding-bottom: 0;
  }
  .lightbox {
    display: none;
  }
  .hero-section.business-insurance .hero-text {
    text-align: center;
    width: 78%;
    margin: auto;
    padding-bottom: 0;
  }
  .hero-section.business-insurance .hero-text {
     padding-bottom: 0;
   }
  .hero-section {
    padding-top: 130px;
    padding-bottom: 60px;
  }
  .project-type .review {
     margin: 0;
     margin-top: 20px;
     width: 100%;
  }
  .team img {
    width: 44%;
  }
  .navbar,a.union,.header-right .mailnumber {
    display: none;
  }
  .subscribe-form {
    margin-top: 100px;
  }
  .subscribe button.btn {
    width: 200px;
  }
  .radio-button input {
    width: 16px;
    height: 25px;
   }
  .hero-text h1 {
    line-height: 60px;
    font-size: 50px;
  }
  .hero-text p {
    font-size: 18px; 
    line-height: 30px;
     width: 100%;
  }
  form#contact-form h3 {
    font-size: 32px;
    line-height: 32px;
    padding-bottom: 24px;
  }
  .our-mission {
    padding: 26px;
  }
  ul.sponsors li:nth-child(even) {
     margin-left: 15px;
  }
  .nav-pills .nav-link {
     width: 19%;
   }
  .swiper-pagination {
     left: 0px !important;
   }
   .heading h2,h2 {
    font-size: 40px;
  }
  .customized p {
     padding-top: 20px;
    padding-bottom: 20px;
     margin-bottom: 20px;
  }
  footer .review {
    width: 100%;
   }
   .footer-form input {
    width: 63%;
   }
   .blog h3 {
    font-size: 26px; 
   }
   
   .pricing h6 {
     font-size: 16px;
  }
  .business-insurance-form img {
    width: 34%;
    object-fit: cover;
  }
  .expert-guidance-text h1 {
    font-size: 50px;
  }
}
@media(max-width: 993px){
  .gap {
    padding: 80px 0; 
  }
  .no-top{
      padding-top: 0;
  }
  .no-bottom{
      padding-bottom: 0;
  }
  .expert-guidance form#contact-form {
     margin-top: 40px;
  }
  .subscribe button.btn {
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
  }
  .hero-section.business-insurance .hero-text,
  .botton-section .hero-text {
     width: 100%;
   }
   .botton-section .review {
     margin-bottom: 20px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
  }
  .botton-section .hero-text p {
    width: 100%;
  }
  .subscribe-form .goole-star {
     top: 0;
     right: 0;
     margin-bottom: 10px;
     position: relative;
  }
  .botton-section .goole-star.two {
     justify-content: center;
  }
  .plan-option {
     width: 47%;
   }
   .subscribe {
      flex-wrap: wrap;
  }
  .subscribe .btn {
    width: auto;
    margin-top: 10px;
  }
  .business-insurance-form {
    padding: 40px;
  }
  .business-insurance-form > div {
    padding: 0;
  }
  .business-insurance-form img {
    display: none;
  }
  .project-type .radio-buttons label {
     font-size: 12px;
  }
  form#contact-form h3 {
    padding-bottom: 16px;
  }
  .project-type .form-group {
    margin-bottom: 0px;
  }
  .service-type label {
     padding: 6px 12px;
     font-size: 12px;
    }
    .project-type .radio-buttons label {
        padding: 8px 16px 8px 34px;
     }
    .radio-buttons label:before {
     width: 18px;
    height: 18px;
     }
  .project-type .goole-star {
    gap: 10px;
    top: 0;
    right: 0;
    position: relative;
    margin-bottom: 20px;
  }
  footer .review {
    margin-bottom: 0;
  }
  .footer-links ul li {
    margin-bottom: 15px;
  }
  .copyright p {
     text-align: center;
  }
  .copyright .goole-star {
    justify-content: center;
    gap: 10px;
   }
  .footer-links h3 { 
    padding-bottom: 14px;
    font-size: 24px;
    margin-top: 16px;
}
  .copyright { 
    padding-bottom: 15px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 60px;
  }
  .blog {
     margin-bottom: 40px;
  }
  .full-container:after {
    display: none;
  }
  .row.ms-xl-5 {
    margin-top: 40px;
  }
  .sponsors {
     margin-left: 0;
  }
  .full-container:before {
    display: none;
  }
  .sponsors {
    animation: initial;
    height: auto;
    margin-left: 0;
  }
  ul.sponsors li:nth-child(even) {
    margin-left: 0;
    display: none;
  }
  ul.sponsors li img {
    padding: 0px;
    background-color: transparent;
  }
  .partnership {
     margin-top: 30px;
     padding-top: 30px;
   }
  .heading-add .ratings {
    margin-left: 0;
    width: 100%;
    margin-bottom: 20px;
  }
  .sponsors {
    animation: initial;
    height: auto; 
  }
  .full-container {
    height: auto;
    padding: 40px;
  }
  .testimonial-two {
     margin-bottom: 20px;
  }
  .customized {
    margin-top: 20px;
  }
  .heading span {
     font-size: 16px;
   }
  .hero-text p {
    padding-bottom: 30px;
    padding-top: 0px;
    width: 100%;
  }
  .hero-text {
    padding-bottom: 50px;
  }
  .get-a-quote {
    margin-top: 40px;
  }
  .form-group {
    margin-bottom: 20px;
  }
  .review {
    width: 100%;
     margin-right: 0;
    margin-bottom: 30px;
  }
  .heading-add {
    display: flex;
    align-items: end;
    padding-bottom: 30px;
    flex-wrap: wrap;
    gap: 20px;
  }
  .trusted {
    padding-top: 50px;
    margin-bottom: 40px;
  }
  .heading-add p {
    width: 100%;
  }
  .heading {
     width: 100%;
   }
   .swiper-custom-arrow {
    width: 100%;
    bottom: 41%;
    left: auto;
    display: flex;
    gap: 30px;
    position: relative;
    justify-content: center;
    margin-top: 30px;
  }
  .expert-guidance-text {
     margin-bottom: 40px;
    flex-wrap: wrap;
    gap: 12px;
  }
  .expert-guidance-text .review { 
    text-align: left;
    margin: 0;
    margin-left: 0px;
  }
  .subscribe button.btn {
    width: auto;
  }
  .subscribe {
    margin-top: 40px;
  }
  .links a {
      margin-bottom: 10px;
    }

}  
@media(max-width: 768px){
  .get-a-quote.subscribe-form,
    .get-a-quote.project-type {
      margin-top: 0;
    }
    .plan-option {
     width: 100%;
   }
   .accordion {
    width: 100%;
  }
   .expert-guidance-text h1 {
    font-size: 40px;
  }
}
@media(max-width: 576px){
  .gap {
    padding: 60px 0; 
  }
  .no-top{
      padding-top: 0;
  }
  .no-bottom{
      padding-bottom: 0;
  }
  form.get-a-quote.subscribe-form h3 {
    font-size: 30px;
    padding-bottom: 19px;
    padding-top: 0px;
  }
  form.get-a-quote.subscribe-form input[type="text"] {
    margin: 0;
  }
  .subscribe {
    margin-top: 20px;
  }
  .review > ul img {
    border-radius: 50%;
    width: 50px; 
  }
  .subscribe-form .review p {
     font-size: 13px;
  }
  .title {
     padding: 10px 20px;
    padding-right: 0;
   }
   .subscribe-form .review {
      margin: 0;
      margin-top: 32px;
      flex-wrap: wrap;
      gap: 0;
   }
  .testimonial-two {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .accordion-item a.heading .title {
     font-size: 20px;
  }
  .accordion {
    width: 100%;
   }
  .form-group.full textarea {
    margin-bottom: 0;
  }
  .nav-pills .nav-link {
    width: 22%;
  }
  .testimonial-two {
    flex-wrap: wrap;
  }
  .testimonial-two > div {
    width: 100%;
  }
}
@media(max-width: 500px){
  .hero-text h1 {
    line-height: 50px;
    font-size: 40px;
  }
  .subscribe button.btn {
    width: 100%;
  }
  .nice-select.Advice {
     font-size: 14px;
  }
  form.get-a-quote.subscribe-form .review > ul {
    justify-content: left;
  }
  .subscribe-form .review p {
    font-size: 13px;
    text-align: left;
  }
  form.get-a-quote.subscribe-form {
    clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 82%, 78% 100%, 0 100%, 0% 80%, 0 0);
  }
  .expert-guidance {
    padding-top: 110px;
   }
   .plans {
      gap: 5px;
    }
  .top-bar {
     padding: 14px 0px;
  }
  .business-insurance .video img {
    height: 300px;
    object-fit: cover;
  }
  .expert-guidance-text h1 {
    font-size: 36px;
  }
  .video i { 
    width: 80px;
    height: 80px; 
}
  .hero-section.business-insurance {
    padding-top: 100px;
    padding-bottom: 60px;
  }
  .form-group.full textarea {
    width: 100%;
    padding: 20px;
     height: 120px;
        font-size: 14px;
    }
  .get-a-quote input[type="text"],  .get-a-quote input[type="email"], .get-a-quote input[type="number"] {
     height: 55px;
     font-size: 14px;
     padding-left: 20px;
     }
     .project-type .get-a-quote img {
        width: 23px;
    }
    .radio-buttons {
        flex-wrap: wrap;
    }
    .subscribe-form ul.star,
    .project-type ul.star {
       gap: 2px;
      font-size: 10px;
     }
     .subscribe-form .goole-star span,
    .project-type .goole-star span {
       font-size: 13px;
    }
     form#contact-form h3 {
      font-size: 26px;
      line-height: 32px;
      padding-bottom: 14px;
    }
.business-insurance .get-a-quote  {
    clip-path: none;
} 
.get-a-quote h6 {
     font-size: 13px;
     }
     .expert-guidance form#contact-form {
     padding: 30px;
    }
    .service-type {
     gap: 7px;
     }
  form.footer-form {
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
  }
  form.footer-form input {
    width: 100%;
  }
  .blog .meta .category,.blog .meta a {
     font-size: 12px;
  }
  .testimonial ul.star {
    margin-right: 25%;
  }
  .testimonial {
    padding: 30px;
    width: 340px;
  }
  .heading h2, h2 {
    font-size: 34px;
  }
  .get-a-quote {
    padding: 30px;
  }
  .testimonial p {
    font-size: 14px;
    line-height: 24px;
  }
  .reviews-team h4 {
    font-size: 18px;
  }
  .get-a-quote {
     clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 90%, 90% 100%, 0 100%, 0% 80%, 0 0);
  }
  .radio-button {
     margin-bottom: 10px;
   }
   
  .btn {
    padding: 16px 22px;
    font-size: 14px;
  }
  .get-a-quote label {
     font-size: 12px;
  }
  .our-mission-list ul {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
  }
  .our-mission-list ul li {
      font-size: 14px;
  }
}
@media(max-width: 480px){
  .team {
    gap: 0px;
    flex-wrap: wrap;
    gap: 20px;
  }
  .heading h2, h2 {
    font-size: 30px;
  }
  .radio-button label {
    padding-left: 4px;
  }
  .radio-button {
    margin-right: 12px;
  }
  .get-a-quote {
    clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 90%, 78% 100%, 0 100%, 0% 80%, 0 0);
  }
  form.footer-form input {
    margin: 0;
  }
  .hero-text {
     text-align: center;
  }
  .review > ul {
     justify-content: center;
  }
  .review p {
     text-align: center;
  }
  .get-a-quote.project-type { 
    clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 96%, 86% 100%, 0 100%, 0% 80%, 0 0); 
  }
  form#subscribe-form button.btn {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .nav-pills .nav-link {
    width: 22%;
    font-size: 12px;
    border-radius: 10px !important;
    margin-bottom: 6px;
  }
  .nav-pills {
     margin-bottom: 20px;
  }
  .heading span:before {
     width: 20px;
    height: 20px;
     left: 10px;
    top: 7px;
  }
  .hero-section {
    padding-top: 130px;
   }
  .get-a-quote ul.social-media { 
    margin-left: 0px;
    margin-top: 15px;
    margin-right: 30px;
  }
  .radio-button input {
    width: 12px;
    height: 19px;
  }
  .hero-section.business-insurance {
     background-position: bottom;
  }
  .hero-text h1 {
    line-height: 40px;
    font-size: 30px;
  }
}
@media(max-width: 450px){
    .project-type .review p {
       font-size: 13px;
      line-height: 20px;
    }
    .expert-guidance-text h1 {
      font-size: 30px;
  }
  .our-mission-list ul li {
     padding-right: 0px;
  }
  .project-type .goole-star img {
    width: 24px;
  }
  .logo img {
    width: 120px;
  }
  .hero-section {
    padding-top: 110px;
  }
}
@media(max-width: 410px){ }
@media(max-width: 375px){ }